<p>home works!</p>


<div class="row">
    <div *ngTemplateOutlet="recursiveMenu; context:{ $implicit: navItems }"></div>
    <ng-template #recursiveMenu let-menus>
      <ul class="w-100">
        <li *ngFor="let menu of menus;">
          <a class="align-self-stretch text-left" href="#" title="{{menu.displayName}}" (click)="onItemSelected(menu)">
            <i class="fa {{menu.iconName}}"></i> <span class="nav-header-primary p-2">{{menu.displayName}}</span> &nbsp;
            <span *ngIf="menu.children" class="fa fa-caret-down fa-2x pull-right" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            </span>
          </a>
          <ul *ngIf="menu.children && expanded" id="nav{{menu.id}}">
            <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: menu.children }"></ng-container>
          </ul>
        </li>
      </ul>
    </ng-template>
</div>